---
import SetTime from "@/components/SetTime.astro";
import Picture from "@/components/Picture.astro";

/**
 * 記事一覧セクションコンポーネント
 */
interface Props {
  /**
   * 記事データ
   */
  articles: {
    ttl: string;
    items: {
      href: string;
      ttl: string;
      desc: string;
      date: string;
      category: string;
      img: string;
      imgAlt: string;
    }[];
  };
  /**
   * 画像パス
   */
  imgPath: string;
}

const { articles, imgPath } = Astro.props;
---

<section class="sample_articles">
  <h2 class="section_ttl" set:html={articles.ttl} />
  <ul class="article_list">
    {
      articles.items.map((article) => (
        <li class="article_item">
          <a href={article.href}>
            <article class="article_card">
              <div class="card_img">
                <Picture
                  src={imgPath + article.img}
                  alt={article.imgAlt}
                  sizes={[800, 450]}
                  lazy={false}
                  lcp={true}
                />
              </div>
              <div class="card_body">
                <div class="card_header">
                  <span class="card_category" set:html={article.category} />
                  <SetTime time={article.date} />
                </div>
                <h3 class="card_ttl" set:html={article.ttl} />
                <p class="card_desc" set:html={article.desc} />
              </div>
            </article>
          </a>
        </li>
      ))
    }
  </ul>
</section>
