---
import Layout from "@/layouts/Layout.astro";
import LowerTitle from "@/components/LowerTitle.astro";
import SetTime from "@/components/SetTime.astro";
import Picture from "@/components/Picture.astro";
import { resolveAllPosts } from "@/data/resolvers/posts";

import "@/scss/pages/_news.scss";

const posts = await resolveAllPosts();
const imgPath = "/_assets/img/sample/";

const page = {
  slug: "news",
  ttl: "ニュース",
  description: "ニュース一覧ページです。",
  url: "/news/",
};

const breadcrumbs = [
  { txt: "ホーム", link: "/" },
  { txt: "ニュース", link: "/news/" },
];
---

<Layout page={page}>
  <meta name="wp-template" content="archive-news" />
  <LowerTitle ttl={page.ttl} />
  <div class="contentInner">
    <nav class="breadcrumbs" aria-label="パンくずリスト">
      <ol>
        {
          breadcrumbs.map((item, i) => (
            <li>
              {i < breadcrumbs.length - 1 ? (
                <a href={item.link}>{item.txt}</a>
              ) : (
                <span aria-current="page">{item.txt}</span>
              )}
            </li>
          ))
        }
      </ol>
    </nav>

    <div class="p_news_archive">
      <ul class="article_list">
        {
          posts.map((post) => (
            <li class="article_item">
              <a href={`/news/${post.slug}/`}>
                <article class="article_card">
                  <div class="card_img">
                    <Picture
                      src={post.img}
                      alt={post.imgAlt}
                      sizes={[800, 450]}
                    />
                  </div>
                  <div class="card_body">
                    <div class="card_header">
                      {post.category && (
                        <span class="card_category">{post.category}</span>
                      )}
                      <SetTime time={post.date} />
                    </div>
                    <h2 class="card_ttl">{post.ttl}</h2>
                    <p class="card_desc">{post.desc}</p>
                  </div>
                </article>
              </a>
            </li>
          ))
        }
      </ul>

      <nav class="c_pager" aria-label="ページ送り">
        <ol class="c_pager_list">
          <li class="c_pager_list-item -current">
            <span aria-current="page" aria-label="1ページ目">1</span>
          </li>
          <li class="c_pager_list-item">
            <a href="/news/page/2/" aria-label="2ページ目">2</a>
          </li>
          <li class="c_pager_list-item -next">
            <a href="/news/page/2/">
              <span aria-label="次のページを表示する">next</span>
            </a>
          </li>
          <li class="c_pager_list-item -last">
            <a href="/news/page/2/" aria-label="最後のページを表示する">最後</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</Layout>
