---
import BeginHead from './BeginHead.astro';

/**
 * `<head>`コンポーネントのProps。
 */
 interface Props {
  /**
   * サイト全体の設定。
   */
  site: {
    /**
     * ウェブサイトのドメイン名 (例: 'example.com')。
     */
    domain: string;
    /**
     * ウェブサイトの名前。
     */
    siteName: string;
    /**
     * ファビコンファイルのパス。
     */
    favicon: string;
    /**
     * デフォルトのOpen Graphイメージのパス。
     */
    ogImg: string;
    /**
     * オプション: SVGアイコンファイルのパス。
     */
    svgIcon?: string;
    /**
     * オプション: Apple touch iconファイルのパス。
     */
    touchIcon?: string;
    /**
     * オプション: Facebook App ID。
     */
    facebookID?: string;
    /**
     * オプション: Twitterのユーザー名 (@マークを除く)。
     */
    twitterName?: string;
    /**
     * オプション: ウェブフォントのスタイルシートのURL。
     */
    webfont?: string;
  };
  /**
   * ページ固有の情報。
   */
  page: {
    /**
     * 現在のページのslugまたは識別子。通常、ホームページには 'top' が使用されます。
     */
    slug: string;
    /**
     * 現在のページのタイトル。
     */
    title: string;
    /**
     * 現在のページの説明。
     */
    description: string;
    /**
     * 現在のページのURLパス (例: '/about')。
     */
    url: string;
  };
}

const {
  site,
  page
} = Astro.props;
---

<head
	prefix={page.slug == "top"
		? "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"
		: "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"}
>
	<meta charset="utf-8" />
  <BeginHead />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta
		name="viewport"
		content="width=device-width,initial-scale=1.0,shrink-to-fit=no"
	/>
	<meta name="format-detection' content='telephone=no" />
	<title>{page.title}</title>
	<meta name="description" content={page.description} />
	<meta property="og:type" content={page.slug == "top" ? "website" : "article"} />
	<meta property="og:local" content="ja_JP" />
	<meta property="og:site_name" content={site.siteName} />
	<meta property="og:title" content={page.title} />
	<meta property="og:description" content={page.description} />
	<meta property="og:url" content={site.domain + page.url} />
	<meta property="og:image" content={site.ogImg} />
  {site.facebookID && (
    <meta property="fb:app_id", content={site.facebookID} />
  )}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={page.title} />
	<meta name="twitter:description" content={page.description} />
	<meta name="twitter:image" content={site.ogImg} />
  {site.twitterName && (
    <meta name="twitter:site", content={"@" + site.twitterName} />
  )}
	<link rel="icon" href={site.favicon} />
  {site.svgIcon && (
    <link rel="icon" href={site.svgIcon} type="image/svg+xml" />
  )}
  {site.touchIcon && (
    <link rel="apple-touch-icon" sizes="180x180" href={site.touchIcon} />
  )}
	<link rel="canonical" href={site.domain + page.url} />
  {site.webfont &&(
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href={site.webfont} />
  )}
</head>
