---
import ImageImport from "src/components/ImageImport.astro";
import Gnavi from "./Gnavi.astro";

/**
 * ヘッダーコンポーネント。
 */
interface MenuItem {
  link: string;
  txt: string;
  blank?: boolean;
  anchor?: boolean;
  child?: MenuItem[];
}

interface Props {
  /**
   * 現在のページのスラッグ。トップページかどうかを判別するために使用されます。
   */
  slug: string;
  /**
   * サイトの名前。ロゴのalt属性として使用されます。
   */
  siteName: string;
  /**
   * グローバルナビゲーションのメニュー項目を定義する配列。
   */
  menu: MenuItem[];
  /**
   * サイトのドメイン名。アンカーリンク (`anchor: true`) の場合にURLを生成するために `Gnavi` コンポーネントへ渡されます。
   */
  domain: string;
}


const { slug, siteName, menu, domain } = Astro.props;
---

<header>
	<div class="contentInner">
		<div class="flex justify-between items-center">
			<a href="/">
				{
					slug === "top" ? (
						<h1 class="headerLogo">
							<ImageImport
								src="/src/img/logo.svg"
								sizes={[80, 80]}
								alt={siteName}
                lazy={false}
							/>
						</h1>
					) : (
						<div class="headerLogo">
							<ImageImport
								src="/src/img/logo.svg"
								sizes={[80, 80]}
								alt={siteName}
                lazy={false}
							/>
						</div>
					)
				}
			</a>
			<Gnavi menu={menu} domain={domain} />
		</div>
	</div>
</header>

<style lang="scss">
  header {
    z-index: 800;
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-reversal;
  }
</style>
